#header {
    color: lightslategray;
}
#subtitle {
    color: lightslategray
}
#subtitle {
    font-style: italic;
}
#list {
    list-style-type:square;
}

.listskills {
    height: 200px;
    width: 50%;
    background-color: #C8E0E2;
}